@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid page">

    <!-- ABOUT ME -->
    <section class="row-fluid about_me" id="about_me">
        <aside class="span2 aside_el">
            <h2>@Resources.aboutMe</h2>
            @*<h5>professional profile<br /> and contact info</h5>*@
        </aside>
        <article class="span7 borderleft par_el">
            <span class="circle"><img style="float:left; margin-top: -3px;" src="~/Content/img/MarioFornaroli_fotoCV.png" alt="" /></span>
            <p>@Resources.aboutMe_Sentence_1</p>
            <p>@Resources.aboutMe_Sentence_2</p>
            <p>@Resources.aboutMe_Sentence_3</p>
        </article>
        <div class="span3 cont_info">
            @*<div class="soc">
                    <ul>
                        <li><a href="https://www.facebook.com/mario.fornaroli"><img src="~/Content/img/icons/facebook.png" alt="" /></a></li>
                        <li><a href="https://twitter.com/FornaroliMario"><img src="~/Content/img/icons/twitter.png" alt="" /></a></li>
                        <li><a href=""><img src="~/Content/img/icons/linkedin.png" alt="" /></a></li>
                        <li><a href=""><img src="~/Content/img/icons/google-plus.png" alt="" /></a></li>
                        <li><a href=""><img src="~/Content/img/icons/rss.png" alt="" /></a></li>
                    </ul>
                </div>*@
            <div class="info">
                <ul>
                    @*<li><span class="icon-mobile"></span><a>+32 497572284</a></li>*@
                    <li id="list_Phone">
                        <div class="row row_Address">
                            <div class="span2">
                                <span class="icon-mobile" id="iconMobile">
                                </span>
                            </div>
                            <div class="span10">
                                <a class="address">+39 3347385621</a>
                            </div>
                        </div>
                    </li>
                    <li id="list_Address">
                        <div class="row row_Address">
                            <div class="span2">
                                <span class="icon-location" id="iconLocation">
                                </span>
                            </div>
                            <div class="span10">
                                <a class="address">Via Toso Montanari, 22</a>
                                <div></div>
                                @*<a class="address">@Resources.cap&nbsp;@Resources.bologna, @Resources.italy</a>*@
                                <a class="address">@Resources.bologna, @Resources.italy</a>
                            </div>
                        </div>
                        @*<span class="icon-location">
                            </span><a>Avenue Gustave Latinis</a><div></div><a>175</a>*@
                    </li>
                    <li><span class="icon-mail iconMail"></span><a href="mailto:mario.fornaroli@yahoo.it">mario.fornaroli@yahoo.it</a></li>
                </ul>
            </div>

            <div class="socialContainer">
                <a href="https://www.facebook.com/mario.fornaroli"><img src="~/Content/img/icons/facebook.png" alt="facebook" /></a>
                @*<a href="https://twitter.com/FornaroliMario"><img src="~/Content/img/icons/twitter.png" alt="twitter" /></a>*@
                <a href="https://www.linkedin.com/in/mariofornaroli"><img src="~/Content/img/icons/linkedin.png" alt="linkedin" /></a>
            </div>


            <div class="downloadPDF">
                <form action="/Home/GetCvPdf" method="get">
                    <fieldset>
                        <button type="submit" class="btn btn-default" href="#">
                            <i class="fa fa-file-pdf-o fa-lg pdfIcon"></i> @Resources.downloadAsPDF
                        </button>

                        @*<a class="btn btn-default" type="submit" href="#">
                                <i class="fa fa-file-pdf-o fa-lg pdfIcon"></i> Download as PDF
                            </a>*@
                    </fieldset>
                </form>

                @*<a class="btn btn-default" href="#">
                        <i class="fa fa-file-pdf-o fa-lg pdfIcon"></i> Download as PDF
                    </a>*@

            </div>


            @*<div class="soc">
                    <ul>
                        <li><a href="https://www.facebook.com/mario.fornaroli"><img src="~/Content/img/icons/facebook.png" alt="facebook" /></a></li>
                        <li><a href="https://twitter.com/FornaroliMario"><img src="~/Content/img/icons/twitter.png" alt="twitter" /></a></li>
                        <li><a href=""><img src="~/Content/img/icons/linkedin.png" alt="" /></a></li>
                        <li id="printicon"><a href="#"><img src="~/Content/img/icons/printer.png" alt="print" /></a></li>
                    </ul>
                </div>*@

        </div> <!-- /cont_info -->
    </section> <!-- /about_me -->
    <!-- end ABOUT ME -->
    <!-- MY EXPERTISE -->
    <section class="row-fluid my_expertise" id="my_expertise">
        <aside class="span2 aside_el">
            <h2>@Resources.myExpertise</h2>
            @*<h5>skills that I’m<br /> proud of</h5>*@
        </aside>
        <article class="span10 borderleft par_el">

            <section class="row-fluid">
                <!-- Web expertise -->
                <article class="span8">
                    <p>@Resources.myExpertise_Sentence_1</p>
                </article>
                <div class="span4 skill_level">
                    <span class="labelMFO label_Web">React.js</span>
                    <span class="labelMFO label_Web">Angular 2+</span>
                    <span class="labelMFO label_Web">Redux/Hooks</span>
                    <span class="labelMFO label_Web">Node.js Web API</span>
                    <span class="labelMFO label_Web">.NET Web API</span>
                    <span class="labelMFO label_Web">ASP MVC</span>
                    <span class="labelMFO label_Web">HTML5 - CSS3 - JS</span>
                    <span class="labelMFO label_Web">Entity Framework</span>
                    <span class="labelMFO label_Web">MS SQL</span>
                    <span class="labelMFO label_Web">MongoDB</span>
                    <span class="labelMFO label_Web">AngularJs</span>
                    <span class="labelMFO label_Web">KnockoutJs</span>
                </div>
            </section> <!-- /Web expertise -->

            <section class="row-fluid">
                <!-- Mobile expertise -->
                <article class="span8">
                    <p>@Resources.myExpertise_Sentence_Mobile</p>
                </article>
                <div class="span4 skill_level">
                    <span class="labelMFO label_Mobile">Cordova</span>
                    <span class="labelMFO label_Mobile">Ionic</span>
                    <span class="labelMFO label_Mobile">Material Design</span>
                    <span class="labelMFO label_Mobile">VS Code</span>
                    <span class="labelMFO label_Mobile">Azure</span>
                </div>
            </section> <!-- /Mobile expertise -->

            <section class="row-fluid">
                <!-- Desktop expertise -->
                <article class="span8">
                    <p>@Resources.myExpertise_Sentence_2</p>
                </article>
                <div class="span4 skill_level desktop_level">
                    <span class="labelMFO label_Desktop">C#</span>
                    <span class="labelMFO label_Desktop">.NET</span>
                    <span class="labelMFO label_Desktop">Web API</span>
                    <span class="labelMFO label_Desktop">Cryptography</span>
                    <span class="labelMFO label_Desktop">C/C++</span>
                </div>
            </section> <!-- /Desktop expertise -->
            @*<section class="row-fluid">
                    <article class="span8">
                        <p>@Resources.myExpertise_Sentence_3</p>
                    </article>
                    <div class="span4 skill_level">
                        <span class="labelMFO label_LowLevelLanguage">C++</span>
                        <span class="labelMFO label_LowLevelLanguage">C</span>
                        <span class="labelMFO label_LowLevelLanguage">Delphi</span>
                    </div>
                </section>*@

            <section class="row-fluid">
                <!-- IDE expertise -->
                <article class="span8">
                    <p>@Resources.myExpertise_Sentence_4</p>
                </article>
                <div class="span4 skill_level skill_level_IDE">
                    <span class="labelMFO label_IDE">VS Code</span>
                    <span class="labelMFO label_IDE">Visual Studio</span>
                    <span class="labelMFO label_IDE">Qt Creator</span>
                    <span class="labelMFO label_IDE">Embarcadero</span>
                </div>
            </section> <!-- /IDE expertise -->

            <section class="row-fluid">
                <!-- Last Sentence expertise -->
                <article class="span8">
                    <p>@Resources.myExpertise_Sentence_5a <br /> @Resources.myExpertise_Sentence_5b</p>
                </article>
            </section> <!-- /Last Sentence expertise -->

        </article>
    </section> <!-- /my_expertise -->
    <!-- end MY EXPERTISE -->
    <!-- EXPERIENCE -->
    <section class="row-fluid experience" id="experience">
        <aside class="span2 aside_el">
            <h2>@Resources.experience</h2>
        </aside>
        <div class="span10">
            <!-- Sysdata -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2019 - @Resources.present</span>
                    <span class="city_Experience">@Resources.bologna, @Resources.italy</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>Sysdata</h2>
                            <h3>@Resources.fullStackWebDeveloper</h3>
                        </header>
                        <p>@Resources.work_Sysdata1</p>
                        <p>@Resources.work_Sysdata2</p>
                    </div>
                </article>
            </div>
            <!-- Euris -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2015 - 2019</span>
                    <span class="city_Experience">@Resources.bologna, @Resources.italy</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>Euris</h2>
                            <h3>@Resources.fullStackWebDeveloper</h3>
                        </header>
                        <p>@Resources.work_Euris1</p>
                    </div>
                </article>
            </div>
            <!-- STMicroelectronics -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2012 - 2015</span>
                    <span class="city_Experience">@Resources.Brussels, @Resources.Belgium</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>STMicroelectronics</h2>
                            <h3>@Resources.softwareDeveloper</h3>
                        </header>
                        <p>@Resources.work_STM1</p>
                        <p>@Resources.work_STM2</p>
                    </div>
                </article>
            </div>
            <!-- Callataÿ & Wouters -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2011 - 2012</span>
                    <span class="city_Experience">@Resources.Brussels, @Resources.Belgium</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>Callataÿ & Wouters</h2>
                            <h3>@Resources.ICTConsultant – @Resources.bankingDomain</h3>
                        </header>
                        <p>@Resources.work_CW1</p>
                        <p>@Resources.work_CW2</p>
                    </div>
                </article>
            </div>
            <!-- Callisto Space Ltd -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2009 - 2011</span>
                    <span class="city_Experience">Tolouse, France</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>Callisto Space Ltd.</h2>
                            <h3>@Resources.ICTConsultant - @Resources.aerospaceDomain</h3>
                        </header>
                        <p>
                            @Resources.work_CallistoSpace1</br>
                            @Resources.work_CallistoSpace2</br>
                            @Resources.work_CallistoSpace3
                        </p>
                    </div>
                </article>
            </div>
            <!-- Freelance -->
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacingbottom">
                    <span class="period">2013 - @Resources.present</span>
                    <span class="city_Experience">Brussel, Belgium</span>
                    <div class="bigspacing jobRole">
                        <header>
                            <h2>Freelance</h2>
                            <h3>@Resources.webDeveloper</h3>
                        </header>
                        <p>@Resources.work_WebFreelance1</p>
                        <p>@Resources.work_WebFreelance2</p>
                    </div>
                </article>
            </div>
        </div>
    </section> <!-- /experience -->
    <!-- end EXPERIENCE -->
    <!-- EDUCATION -->
    <section class="row-fluid education" id="education">
        <aside class="span2 aside_el">
            <h2>@Resources.education</h2>
            @*<h5>my college and<br /> high school</h5>*@
        </aside>
        <div class="span10">
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">2003 - 2009</span>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.elctrAndIctEngineeringTitle</h2>
                            <h3>@Resources.universityOfPavia</h3>
                        </header>
                        <p>@Resources.masterThesisDescription</p>
                    </div>
                </article>
            </div>
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacingbottom" id="secondarySchool">
                    <span class="period">1998 - 2003</span>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.diplomaIT</h2>
                            <h3>@Resources.itisVoltaLodi</h3>
                        </header>
                        <p>@Resources.diplomaDescription</p>
                    </div>
                </article>
            </div>
        </div>
    </section> <!-- /education -->
    <!-- end EDUCATION -->
    <!-- PORTFOLIO -->
    <section class="row-fluid portfolio" id="portfolio">
        <aside class="span2 aside_el">
            <h2>@Resources.projects</h2>
            @*<h5>some of my<br /> best work</h5>*@
        </aside>
        <div class="span10 borderleft">
            <div class="galleryContainer">

                <!-- Line 1 - Projects -->
                <div class="row">

                    <!-- React.js (hooks and context api) + Node.js + MondoDb -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_ReackContext"><img src="~/Content/img/React_Hooks_and_Node_Mongo.png" alt="" /></a>
                        <h3>React.js (hooks and context api) + Node.js + MondoDb</h3>
                        <p>
                            Web app - Flow generator based on json configuration
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_ReackContext" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">React.js (hooks and context api) + Node.js + MondoDb</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>Migration of React.js app to use React hooks + Context API for state management and further app development. This is a web app to generate webapp based on json configuration (similarly to https://jasonette.com/, except it is for web application). Worked both on frontend and backend. It involves the following technologies:</div>
                                    <ul>
                                        <li>React hooks + Context API for state management</li>
                                        <li>Node.js + Express + MongoDB</li>
                                        <li>Passport.js for Authorization/Authentication</li>
                                        <li>UX design with Adobe XD</li>
                                        <li>E2E tests developed with Nightwatch.js</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">React.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">React hooks + Context API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Nightwatch.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Node.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Express</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">MongoDB</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Passport.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Adobe XD</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">VS Code</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Postman</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- React.js (Redux + Saga) + Node.js + MondoDb -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_ReackSupportSaga"><img src="~/Content/img/React_Redux_and_Node_Mongo.png" alt="" /></a>
                        <h3>React.js (Redux + Saga) + Node.js + MondoDb</h3>
                        <p>
                            Web app - Dashboard to manage state of progress of various client's communications
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_ReackSupportSaga" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">React.js (Redux + Saga) + Node.js + MondoDb</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>Mainly list and details web application with minor crud operations to keep track of client's internal official communications. It involves the following technologies:</div>
                                    <ul>
                                        <li>React.js (Redux + Saga)</li>
                                        <li>Node.js + Express + MongoDB</li>
                                        <li>Passport.js for Authorization/Authentication</li>
                                        <li>Ui developed from a commercial template</li>
                                        <li>E2E tests developed with Nightwatch.js</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">React.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Redux + Saga</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Nightwatch.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Node.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Express</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">MongoDB</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Passport.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">VS Code</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Postman</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Angular8 + Node.js + MondoDb -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_Ang8Gut"><img src="~/Content/img/Ang_and_Node_Mongo.png" alt="" /></a>
                        <h3>Angular 8 + Node.js + MondoDb</h3>
                        <p>
                            Web app - Flow chart editor (both by design and by json editor)
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_Ang8Gut" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">Angular8 + Node.js + MondoDb</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>Flow chart editor (both by design and by json editor). The output charts will be a json file. It involves the following technologies:</div>
                                    <ul>
                                        <li>Angular 8</li>
                                        <li>Node.js + Express + MongoDB</li>
                                        <li>Passport.js for Authorization/Authentication</li>
                                        <li>Ui based on Angular-material (https://material.angular.io)</li>
                                        <li>E2E tests developed with Protractor</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Angular 8</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Angular material</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Protractor</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Node.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Express</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">MongoDB</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Passport.js</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">VS Code</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Postman</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Crif Perizie - Angular 5 + .Net Core -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_Periz"><img src="~/Content/img/Angular_and_dotNet.png" alt="" /></a>
                        <h3>Angular 5 + Asp.Net Core Web API</h3>
                        <p>
                            WebApp service to estimate the value of apartment buildings
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_Periz" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">Angular 5 + Asp.Net Core Web API</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>Web application to ask for apartment estimation, fix appointment with an expert, chat with him, be notified about missing document and upload them, online estimation payment and estimation document download. It involves the following technologies:</div>
                                    <ul>
                                        <li>Angular5 front end  (plus obviously HTML5-CSS3-JS and other common js libraries)</li>
                                        <li>ASP.NET Core 2.1 Web API with microservices backend to expose web services</li>
                                        <li>UX professionally designed by an external company</li>
                                        <li>Logging system to Elastic Search with Kibana</li>
                                        <li>Stripe platform for online payments</li>
                                        <li>IdentityServer Framework for Authorization/Authentication</li>
                                        <li>CRM Microsoft Dynamics integration as ticketing system</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Angular 5+</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Protractor</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">ASP.NET Core 2.1 Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Microservices</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Stripe payments</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">IdentityServer Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Elastic Search</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Umbraco CMS integration</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CRM Microsoft Dynamics</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Oracle db</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">ADO .NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Swagger</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Crif Perizie - React Js and Power BI integration + .Net Core -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_power_bi"><img src="~/Content/img/React_and_PowerBI.png" alt="" /></a>
                        <h3>React 15 + Asp.Net Core + Power BI integration</h3>
                        <p>
                            WebApp to integrate data analysis graphs through Power BI integration
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_power_bi" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModal_power_bi">React 15 + Asp.Net Core  + Power BI integration</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>WebApp to integrate data analysis graphs through Power BI integration</div>
                                    <ul>
                                        <li>React front end, no redux, no hooks  (plus obviously HTML5-CSS3-JS and other common js libraries)</li>
                                        <li>ASP.NET Core 2.1 Web API with microservices backend to expose web services</li>
                                        <li>UX professionally designed by an external company</li>
                                        <li>Power BI JavaScript API</li>
                                        <li>Azure authentication</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Crif Perizie - Angular 5 Industry 4.0 + Java HAL -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_industry_40"><img src="~/Content/img/Ang_and_Api_Industry40.png" alt="" /></a>
                        <h3>Angular 6 + exposed Web API</h3>
                        <p>
                            WebApp part of Italian project Industry 4.0 for a manufacturing industry client
                        </p>
                    </div>
                    <div class="modal fade" id="myModal_industry_40" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModal_power_bi">Angular 6 + exposed Web API</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>WebApp to monitor/operate on the productivity process (analysis on the produced pieces and machineries in use) in a manufacturing industry client</div>
                                    <ul>
                                        <li>Angular5 front end</li>
                                        <li>WebSocket</li>
                                        <li>async/await way to deal with asynchronous code</li>
                                        <li>UX designe (Adobe XD)</li>
                                        <li>E2E tests developed with Protractor</li>
                                        <li>Backend services already available</li>
                                    </ul>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cr H - AngularJs + Web API + H -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_h"><img src="~/Content/img/Cr_h.png" alt="" /></a>
                        <h3>AngularJs + Web API</h3>
                        <p>@Resources.projectsH</p>
                    </div>
                    <!-- Modal Cr H - Modal AngularJs + Web API -->
                    <div class="modal fade" id="myModal_h" tabindex="-1" role="dialog" aria-labelledby="myModalLabel_Periz" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel_Periz">@Resources.hTitle</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.projectsHSentence</div>
                                    <ul>
                                        <li>@Resources.projectsPorDescription1</li>
                                        <li>@Resources.projectsPorDescription2</li>
                                        <li>@Resources.projectsPorDescription3</li>
                                        <li>@Resources.projectsHDescription4</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">.NET Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">jQuery</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Material Design </span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">ADO .NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Swagger</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SQL Management Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SoapUI</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Cr P - AngularJs + ASP MVC + Web API -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_po"><img src="~/Content/img/P_AllDocs_And_Buttons.png" alt="" /></a>
                        <h3>AngularJs + ASP MVC</h3>
                        <p>@Resources.projectsPor</p>
                    </div>
                    <!-- Modal Cr P - AngularJs + ASP MVC + Web API -->
                    <div class="modal fade" id="myModal_po" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.porTitle</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.projectsPorSentence</div>
                                    <ul>
                                        <li>@Resources.projectsPorDescription1</li>
                                        <li>@Resources.projectsPorDescription2</li>
                                        <li>@Resources.projectsPorDescription3</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">.NET Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">jQuery</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Bootstrap </span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">ADO .NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Swagger</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SQL Management Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SoapUI</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Mobile App -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_po_mob"><img src="~/Content/img/p_mob.jpg" alt="" /></a>
                        <h3>Mobile App - Cordova</h3>
                        <p>@Resources.projectsPorMob</p>
                    </div>
                    <!-- Modal Mobile App -->
                    <div class="modal fade" id="myModal_po_mob" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.porMobTitle</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.projectsPorMobSentence</div>
                                    <ul>
                                        <li>@Resources.projectsPorDescription1</li>
                                        <li>@Resources.projectsPorDescription2</li>
                                        <li>@Resources.projectsPorDescription3</li>
                                        <li>@Resources.projectsPorMobDescription4</li>
                                        <li>@Resources.projectsPorMobDescription5</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Cordova</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">.NET Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Gulp</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Swagger</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SQL Management Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SoapUI</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Line 2 - Projects -->

                <div class="row">

                    <!-- Pax Mobile App -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_pax_mob"><img src="~/Content/img/pax_app.png" alt="" /></a>
                        <h3>Mobile App - Cordova</h3>
                        <p>@Resources.projectsPorMob</p>
                    </div>
                    <!-- Modal Mobile App -->
                    <div class="modal fade" id="myModal_pax_mob" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.paxMobTitle</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.projectsPaxMobSentence</div>
                                    <ul>
                                        <li>@Resources.projectsPorDescription1</li>
                                        <li>@Resources.projectsPorDescription2</li>
                                        <li>@Resources.projectsPorDescription3</li>
                                        <li>@Resources.projectsPorMobNotifications</li>
                                        <li>@Resources.projectsPorMobDescription4b</li>
                                        <li>@Resources.projectsPorMobDescription5</li>
                                    </ul>

                                    <div class="moreTopMargin">
                                        <a href='https://play.google.com/store/apps/details?id=io.cordova.PaxDeCoeur2785d518e9f4578943055878dd7a400&hl=it&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                                            <img class="get-from-shop" alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png' />
                                        </a>
                                    </div>

                                </div>
                                <div class="row labelsRow mt0">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Cordova</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Ionic</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">.NET Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Gulp</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Push Notifications</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Swagger Notifications</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">VS Code</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Asp MVC + KnockoutJs + Jquery -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_Ch"><img src="~/Content/img/ch_ex1.png" alt="" /></a>
                        <h3>jQuery / KnockoutJs + ASP MVC + WCF</h3>
                        <p>@Resources.projectsCh</p>
                    </div>
                    <!-- Modal for Asp MVC + KnockoutJs + Jquery -->
                    <div class="modal fade" id="myModal_Ch" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.chTitle</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.projectChSentence</div>
                                    <ul>
                                        <li>@Resources.projectChDescription1</li>
                                        <li>@Resources.projectChDescription2</li>
                                        <li>@Resources.projectChDescription3</li>
                                        <li>@Resources.projectChDescription4</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">ASP MVC</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">KnockoutJs</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">jQuery</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Bootstrap </span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">WCF</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">ADO .NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SQL Management Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SoapUI</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Crypto Player -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModalCryptoPlayer"><img src="~/Content/img/CryptoPlayer_Img.png" alt="" /></a>
                        <h3>AngularJS + Web API</h3>
                        <p>@Resources.cryptoPlayerShortTitle</p>
                    </div>
                    <!-- Modal for Crypto Player -->
                    <div class="modal fade" id="myModalCryptoPlayer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.cryptoPlayerWebApplication</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.cryptoPlayerDescription1<br />@Resources.cryptoPlayerDescription2<br /></div>
                                    <div class="moreTopMargin">@Resources.visitIt : <a href="http://cryptoplayer.azurewebsites.net" target="_blank" class="projectLink"> cryptoplayer.com</a></div>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">AngularJS</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">.NET Web API</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Bootstrap </span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Azure</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Line 3 - Projects -->
                <div class="row">

                    <!-- LeclNotes -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModalLeclNotes"><img src="~/Content/img/LeclNotes_Img.jpg" alt="" /></a>
                        <h3>ASP. NET MVC</h3>
                        <p>@Resources.teacherEBook</p>
                    </div>
                    <!-- Modal for LeclNotes -->
                    <div class="modal fade" id="myModalLeclNotes" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.leclNotesWebApplication</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.leclNotesDescription<br /></div>
                                    <div class="moreTopMargin">@Resources.visitIt : <a href="http://www.leclnotes.com" target="_blank" class="projectLink"> www.leclnotes.com</a></div>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">ASP MVC</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">HTML5</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">CSS3</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Javascript</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">jQuery</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Bootstrap </span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Entity Framework</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Web labelModal pull-left">Azure</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- C# .Net Applications -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModalDotNetApplication"><img src="~/Content/img/csharpdotnet.png" alt="" /></a>
                        <h3>C# .Net</h3>
                        <p>@Resources.WindowsApplications</p>
                    </div>
                    <!-- Modal for C# .Net Applications -->
                    <div class="modal fade" id="myModalDotNetApplication" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.cSharpDotNetApplications</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.cSharpAppDescription1</div>
                                    <div>@Resources.cSharpAppDescription2</div>
                                    <div>@Resources.cSharpAppDescription3</div>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">.NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">WPF</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">DevExpress</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">MVVM</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">Multithreading </span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">Cryptography</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">BouncyCastle</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">IronPython</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SVN</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">AdvancedInstaller</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <!-- IronPython -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModalIronPython"><img src="~/Content/img/IronPython_Logo.jpg" alt="" /></a>
                        <h3>IronPython</h3>
                        <p>@Resources.PythonInDotNet</p>
                    </div>
                    <!-- Modal for IronPython -->
                    <div class="modal fade" id="myModalIronPython" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.ironPythonForTesting</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    @Resources.IronPythonDescription1<br />
                                    @Resources.IronPythonDescription2<br />
                                    @Resources.IronPythonDescription3
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">C#</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">.NET</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">WPF</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">DevExpress</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">MVVM</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">Multithreading </span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">NLog</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">Cryptography</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">BouncyCastle</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">IronPython</span>
                                        <span class="labelMFO labelMFOProjectDescription label_Desktop labelModal pull-left">SQL Server</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">SVN</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">AdvancedInstaller</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Line 4 - Projects -->
                <div class="row">
                    <!-- C/C++ -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_C_Cpp"><img src="~/Content/img/C_Cpp_Img.jpg" alt="" /></a>
                        <h3>C/C++</h3>
                        <p>@Resources.modulesAndLibraries</p>
                    </div>
                    <!-- Modal for C/C++ -->
                    <div class="modal fade" id="myModal_C_Cpp" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.CandCppDllDevelopment</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    @Resources.CandCppProjectsDescription1 <br />
                                    @Resources.CandCppProjectsDescription2<br />
                                    @Resources.CandCppProjectsDescription3
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C++</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Qt Creator</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Other Projects -->
                    <div class="galleryItem">
                        <a href="#" data-toggle="modal" data-target="#myModal_Other_Projects"><img src="~/Content/img/Other_Projects_Img.jpg" alt="" /></a>
                        <h3>@Resources.otherTechnologies</h3>
                        <p>@Resources.projectsWithOtherLanguages</p>
                    </div>
                    <!-- Modal for Other Projects -->
                    <div class="modal fade" id="myModal_Other_Projects" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <h4 class="modal-title projectDescriptionTitle" id="myModalLabel">@Resources.otherTechnologies</h4>
                                </div>
                                <div class="modal-body projectDescription">
                                    <div>@Resources.otherProjectSentence</div>
                                    <ul>
                                        <li>@Resources.otherProjectDescription1</li>
                                        <li>@Resources.otherProjectDescription2</li>
                                        <li>@Resources.otherProjectDescription4</li>
                                        <li>@Resources.otherProjectDescription5</li>
                                    </ul>
                                </div>
                                <div class="row labelsRow">
                                    <div class="projectLabels">
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">C++ Qt</span>
                                        <span class="labelMFO labelMFOProjectDescription label_LowLevelLanguage labelModal pull-left">SQL</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Visual Studio</span>
                                        <span class="labelMFO labelMFOProjectDescription label_IDE labelModal pull-left">Qt Creator</span>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section> <!-- /portfolio -->
    <!-- end PORTFOLIO -->
    <!-- BLOG -->
    <section class="row-fluid blog" id="blog">
        <aside class="span2 aside_el">
            <h2>@Resources.otherSkills</h2>
            <h5>@Resources.languagesTtrainings<br /> @Resources.andCertificates</h5>
        </aside>
        <div class="span10">
            <div class="row-fluid">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">@Resources.languages</span>
                    <div class="bigspacing">
                        <header>
                            <h2 class="h2_Language_First"><a href="post.html">@Resources.italian</a></h2>
                            <h3 class="h3_Language">@Resources.motherTongue</h3>
                        </header>
                    </div>
                    <div class="bigspacing bigspacing_Language">
                        <header>
                            <h2 class="h2_Language"><a href="post.html">@Resources.english</a></h2>
                            <h3 class="h3_Language">@Resources.fluent</h3>
                        </header>
                        <p>@Resources.englishKnowledgeDescription</p>
                    </div>
                    <div class="bigspacing bigspacing_Language">
                        <header>
                            <h2 class="h2_Language"><a href="post.html">@Resources.french</a></h2>
                            <h3 class="h3_Language">@Resources.bilingual</h3>
                        </header>
                        <p>@Resources.frenchKnowledgeDescription</p>
                    </div>
                    <div class="bigspacing bigspacing_Language">
                        <header>
                            <h2 class="h2_Language"><a href="post.html">@Resources.spanish</a></h2>
                            <h3 class="h3_Language">@Resources.good</h3>
                        </header>
                        <p>@Resources.spanishKnowledgeDescription</p>
                    </div>
                </article>
            </div>
            <div class="row-fluid certTitle">
                <article class="span12  borderleft par_el in_spacing">
                    <span class="period">@Resources.trainingsAnd <br />@Resources.certificates</span>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.onlineTrainings</h2>
                            <div class="training-content-first">
                                <p class="trainingexplanation">
                                    @Resources.training_online_1 <br />
                                    @Resources.training_online_2<br />
                                </p>
                            </div>
                        </header>
                    </div>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.cSharpFoundamentals</h2>
                            <div class="training-container training-content-with-image training-content">
                                <img class="certificate-image" src="~/Content/img/MS_Cert_Professional_logo_Wht_rgb.jpg" alt="Microsoft Certified Professional" />
                                <div class="training-info">
                                    <p class="trainingexplanation">
                                        Exam 70-483 <br />
                                        @Resources.cSharpExamDate <br />
                                        @Resources.brusselsBelgium<br />
                                    </p>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.cSharpEgiliaTraining</h2>
                            <div class="training-container training-content-with-image training-content">
                                <img class="certificate-image" src="~/Content/img/EgiliaLearningBe.jpg" alt="Microsoft Certified Professional" />
                                <div class="training-info">
                                    <p class="trainingexplanation">
                                        Egilia&nbsp;Training&nbsp;@Resources.Belgium <br />
                                        @Resources.January 2013 <br />
                                        @Resources.brusselsBelgium<br />
                                    </p>
                                </div>
                            </div>
                        </header>
                    </div>
                    <div class="bigspacing">
                        <header>
                            <h2>@Resources.ISTQBTesterCertificate</h2>
                            <div class="training-container training-content-with-image training-content">
                                <img class="certificate-image" src="~/Content/img/istqb_logo.gif" alt="Microsoft Certified Professional" />
                                <div class="training-info">
                                    <p class="trainingexplanation">
                                        ISTQB&nbsp;Institution&nbsp;@Resources.Belgium <br />
                                        @Resources.March 2012 <br />
                                        @Resources.brusselsBelgium<br />
                                    </p>
                                </div>
                            </div>
                        </header>
                    </div>
                    @*<div class="bigspacing">
                            <header>
                                <h2>@Resources.cSharpEgiliaTraining</h2>
                                <h3>Egilia @Resources.Belgium - @Resources.January 2013</h3>
                            </header>
                        </div>
                        <div class="bigspacing">
                            <header>
                                <h2>@Resources.ISTQBTesterCertificate</h2>
                                <h3>@Resources.Brussels - @Resources.March 2012</h3>
                            </header>
                        </div>*@
                </article>
            </div>
        </div>
    </section> <!-- /blog -->
    <!-- end BLOG -->
</div> <!-- /page -->
